<!DOCTYPE html>
<html>
    <head>
    <title>
        FormInfo
    </title>
    </head>
    
    <body style="background-color:royalblue;">
    <table id="table" border="1px">  
        <thead>  
            <tr>  
                <th>Id</th>
                <th>Name</th>  
                <th>Age</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% data.forEach(function (user) { %>
            <tr>
                <td><%= user.id %></td>  
                <td><%= user.name %></td>  
                <td><%= user.age %></td>
            </tr>                                   
         <% }) %>
         </tbody>
    </table> 
    
    <form action="/" method="GET">
        <input type="submit" value="Click to Fill Info"> 
    </form>
     

    </body>

  

    
</html>